section + section {
  margin-left: .5rem;
}

.vh-100 {
  height: 100vh;
}

.vh-80 {
  height: 80vh;
}

.vh-20 {
  height: 20vh;
}

.vh-10 {
  height: 10vh;
}

.bg-brown {
  background-color: #734747
}

.h-line {
  height: 2px
}

.w-15px {
  width: 15px
}