body {
  font-family: helvetica,neue,-apple-system,BlinkMacSystemFont,avenir next,avenir,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.fw4-plus {
  font-weight: 450
}

.stationLine + .stationLine {
  margin-left: 0.15rem;
}

.grow-1 {
  flex-grow: 1
}

.bg-brown {
  background-color: #734747
}

.h-line {
  height: 2px
}

.w-15px {
  width: 15px
}

/* @media screen and (min-width: 30em) { */
  .scale-1-4 {
    transform: scale(1.4)
  }

  .pl-6px {
    padding-left: 6px;
  }

  .pt-6px {
    padding-top: 6px;
  }
/* } */
